.alfredosCard {
  background-color: #242582;
  height: 93vh;
  background-image: url('../../images/Background2.jpg');
  background-size:cover ;
}

.alfredosCardText {
  font-size: 5vw;
  color: white;
  padding-top: 10vh;
  font-weight: 700;
}

.alfredosCardTypo {
  color: white;
}

#thumbnailsContainer {
  background-color: white;
}