.homeMain {
  height: 92.5vh;
  width: 100%;
  background-color: #242582;
}

.homeContainer {
  display: flex;
  justify-content: space-between;
}

.alfredosPic {
  padding-top: 5vh;
}

.homeText {
  padding-left: 3vw;
  h2 {
    color: white;
    font-size: 12vh;
    padding-top: 20vh;
  }
  p {
    font-size: 5vh;
    color: white;
  }
}
