.aboutMain {
  min-height: 96vh;
  max-height: fit-content;
  background-color: #090909;
}

.aboutCard {
  padding-top: 9vh;
  height: fit-content;
   @media only screen and (min-width: 1201px) {
      padding-bottom: 5vh;
    }
  @media only screen and (max-width: 1200px) and (min-width: 901px) {
    margin-bottom: 2vw;
  }
  @media only screen and (max-width: 900px) and (min-width: 601px) {
  }
  @media only screen and (max-width: 600px) {
    margin-bottom: 5vh;
  }
}

.aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;

  .aboutTitle {
    color: white;
    padding-top: 6vh;
    padding-right: 2vw;
    font-size: 6.8vw;
    @media only screen and (min-width: 1201px) {
      padding-top: 10vh;
      padding-bottom: 5vh;
    }
    @media only screen and (max-width: 1200px) and (min-width: 901px) {
      font-size: 8vw;
    }
    @media only screen and (max-width: 900px) and (min-width: 601px) {
    }
    @media only screen and (max-width: 600px) {
      margin-top: -8vh;
      font-size: 10vw;
    }
  }

  .aboutBio {
    width: 90%;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }

    p {
      font-size: 1vw;
      color: white;
       @media only screen and (min-width: 1201px) {
      margin-left: 1.5vw;
    }
      @media only screen and (max-width: 1200px) and (min-width: 601px) {
        font-size: 1.5vw;
      }
      @media only screen and (max-width: 600px) {
        font-size: 3vw;
      }
    }
  }
}

.aboutImage {
  height: 50vh;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 2vh;

  @media only screen and (max-width: 1200px) and (min-width: 901px) {
    font-size: 2vw;
    margin-top: 10vh;
  }
  @media only screen and (max-width: 900px) and (min-width: 601px) {
  }
  @media only screen and (max-width: 600px) {
  }

  p {
    text-align: center;
    font-weight: 100;
     @media only screen and (max-width: 1200px) and (min-width: 901px) {
    width: 120%;
  }
  }
  span {
    font-weight: 600;
    font-size: 1vw;
    margin-bottom: 0.3vh;
    @media only screen and (max-width: 1200px) and (min-width: 901px) {
    font-size: 2vw;
    }
    @media only screen and (max-width: 900px) and (min-width: 601px) {
      font-size: 2vh;
      margin-bottom: 0.5vh;
    }
    @media only screen and (max-width: 600px) {
      font-size: 3vh;
      margin-bottom: 1vh;
    }
  }
  h5 {
    font-size: 1vw;
    @media only screen and (max-width: 1200px) and (min-width: 901px) {
    font-size: 2vw;
    }
    @media only screen and (max-width: 900px) and (min-width: 601px) {
      font-size: 2vh;
      margin-bottom: 0.5vh;
    }
    @media only screen and (max-width: 600px) {
      font-size: 3vh;
      margin-bottom: 1vh;
    }
  }
}
